<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<meta charset="utf-8">
<link rel="stylesheet" href="/Styles/styleplanos.css">
<link rel="preload" href="/Styles/styleplanos.css">
 <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<title> Planos</title>
</head>

<body>
    
<div class="demo">
    <header id="header" >
        <a id="logo" href="">Logo</a>
        <nav id="nav">
       
          <ul id="menu" role="menu">
            <li><a  href="/telainicial/barbearia">Home</a></li>
            <li><a href="/telainicial/sobre">Sobre</a></li>
            <li><a href="/telainicial/agenda">Agenda</a></li>
            <li><a href="/telainicial/servico">Serviços</a></li>
            <li><a href="/telainicial/planos">Plano Parceria</a></li>
            <a class="#" aria-label="" href="#" role="button" 
            tabindex="0" aria-expanded="false"><img class="gb_Ba gbii"
             src="/imag/86560.jpg"
             srcset="" alt="" aria-hidden="true" data-noaft=""></a>
          </ul>
        </nav>
      </header>
        <div class="container">
           

            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Standard</h3>
                            <span class="subtitle">de 1 a 2 profissionais</span>
                            <div class="price-value">50
                                <span class="currency">R$</span>
                                <span class="month">/mês</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>Chat</li>
                            <li>Lista de tarefas</li>
                            <li class="feedback">Feedback</li>
                        </ul>
                        <a href="/adm/cadastro" class="read">Assine já<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Business</h3>
                            <span class="subtitle">de 5 a 10 profissionais</span>
                            <div class="price-value">100
                                <span class="currency">R$</span>
                                <span class="month">/mês</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>Chat</li>
                            <li>Lista de tarefas</li>
                            <li>Feedback</li>
                            <li id="bus">Faturamento</li>
                            <li>

                            </li>
                        </ul>
                        <a href="/adm/cadastro" class="read">Assine já<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header">
                            <h3 class="heading">Premium</h3>
                            <span class="subtitle">de 11 a 20 profissionais</span>
                            <div class="price-value">180
                                <span class="currency">R$</span>
                                <span class="month">/mês</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>Chat</li>
                            <li>Lista de tarefas</li>
                            <li>Feedback</li>
                            <li>Faturamento</li>
                            <li>Historico de Financeiro</li>
                        </ul>
                        <a href="/adm/cadastro" class="read">Assine já<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
