<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/sobre.css">
    <link rel="preload" href="/Styles/sobre.css">
    <title>Sobre</title>
</head>
<body>
    <header id="header01" >
        <a id="logo01" href="">Logo</a>
        <nav id="nav01">
          
          <ul id="menu01" role="menu01">
            <li><a  href="/telainicial/barbearia">Home</a></li>
            <li><a href="/telainicial/sobre">Sobre</a></li>
            <li><a href="/telainicial/agenda">Agenda</a></li>
            <li><a href="/telainicial/servico">Serviços</a></li>
            <li><a href="/telainicial/planos">Plano Parceria</a></li>
            <a class="#" aria-label="" href="#" role="button" 
            tabindex="0" aria-expanded="false"><img class="gb_Ba gbii"
             src="/imag/86560.jpg"
             srcset="" alt="" aria-hidden="true" data-noaft=""></a>
          </ul>
        </nav>
      </header>
      <div class="conteudo">
          <h1>Sobre</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Perspiciatis optio non tenetur, aliquid accusantium vero.
                Quae nostrum totam quis molestias praesentium! Dicta enim inventore magnam minima nesciunt,
                 saepe accusantium expedita.</p>
      </div>
</body>
</html>