<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Styles/telainicial.css"> 
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <title>Tela Inicial</title>
</head>
<body>
    
    <main class="corpo">
        <div class="empre"><h1>GRUP<span>CODE</span></h1></div>
        <div class="feminino">
            <div class="titulo">
                <h1>O cabelo diz muito sobre a pessoa</h1>
            </div>
            <div class="sub-title fadeIn">
                <h2>Tenha um dia incrível no salão de beleza, temos pacotes exclusivos para você ficar maravilhosa</h2>
            </div>
            <div class="img1">
                <img class="img" src="/imag/image2.png">
            </div>
           
                <button class="button1">
                   <a href="/salao/home"> Salão de beleza </a>
                </button>
          
        </div>

        <div class="masculino">
            <div class="titulo">
                <h1>A sua barba é a moldura do seu rosto.</h1>
            </div>
          
            <div class="sub-title fadeIn">
                <h2>Quando o cliente gosta do seu trabalho, você é bom. Quando ele retorna, você é Profissional. Quando ele traz outros clientes, você é Top</h2>
            </div>
             
      
        </div>
                   <div class="img2">
                     <img  src="/imag/image1.png">
                     </div>
                     <button class="button2">
                        <a href="/barbearia/home"> Barbearia </a>
                     </button>
                     
        </main>
      
        <script src="/JS/telainicial.js"></script>
</body>
</html>