<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/recuperasenha.css">
    <title>Redefinir</title>
</head>
<body>

    
     <div class="caixa-recupera">
    <div class="container-recuperasenha">
        <div class="recupera-titulo">
            <h2>Redefinir senha</h2> 
        </div>
        <div class="recupera-descricao">
            <p>Insira seu email  para redefinir sua senha</p> 
        </div>
        <div class="email-celular">
            <input type="text" name="email-celular" placeholder="E-mail ">
        </div>

        <div class="btn-cancela">
            <a href="indextelainicial"> <button>Cancelar</button></a>
          </div>
        <div class="btn-pesquisar">
            <a href="#"> <button>Enviar</button></a>
          </div>
    </div>
</div>

</body>
</html>