@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient( rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imag/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}
.caixa-recupera{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11rem;
}
.container-recuperasenha{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 35vw;
   height: 42vh;
   background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6) );
   border-radius: 1rem;
}
.recupera-titulo{
   display: flex;
   justify-content: flex-start;
   margin-right: 18.7rem;
  
}
.recupera-titulo h2{
   margin-top: -5rem;
   color: white;
}
.recupera-descricao{
   display: flex;
   justify-content: flex-start;
   margin-top: 6rem;
   margin-right: 11rem;
}
.recupera-descricao p{
   margin-top: -8.5rem;
   color: white;
}
.email-celular{
   position:absolute;
   display: flex;
   justify-content: flex-start;
   align-items:flex-end;
   margin-right: -1rem;
   margin-top: 2rem;
   
}
.email-celular input{
   width: 31vw;
   height: 8vh;
   border-radius: 25rem;
   border: 1px solid wheat;
   outline: none;
   padding: 0 10rem 0 2rem;
   color: white;
   font-size: 1.5rem;
   background:transparent;
   
}
.email-celular input::placeholder{
    color: white;
}


.btn-cancela{
   position: absolute;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 16.5rem;
   width: 11rem;  
}
.btn-cancela a button{
   background-color: transparent;
   padding: 0.5rem 4rem 0.5rem 4rem;
   border: 2px solid  transparent;
   cursor: pointer;
   transition: background .3s;
   color: white;
   border: 1px solid white;
   font-size: 1.2rem;
   border-radius: 25rem;   
}
.btn-cancela button:hover{
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6) );
   color: white;
   
   
}


.btn-pesquisar{
    
   position: absolute;
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 16.5rem;
   margin-right: -23.5rem; 
}
.btn-pesquisar a button{
   background-color: #ED8C1A;
   padding: 0.5rem 4rem 0.5rem 4rem;
   border: 2px solid  transparent;
   cursor: pointer;
   transition: background .3s;
   color: black;
   font-weight: bold;
   font-size: 1.2rem;
   border-radius: 25rem;   
}
.btn-pesquisar button:hover{
   background-color: black;
   color: #ED8C1A;
   
   
}