<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Styles/stelytelainicial-sa.css">
    <link rel="preload" type="text/css" href="/Styles/stelytelainicial-sa.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
   
    <title>Salão de Beleza</title>
</head>
<body>
    <header class="header" >
        <a id="logo" href="">Logo</a>
        <nav class="nav">
          <ul class="menu" role="menu">
            <li><a  href="#"> <button id="cadastro"  onclick="openModal('dv-modal')">Cadastre-se</button></a></li>
            <li><a href="#"> <button id="entrar"  onclick="openModal01('dv-modal01')">Entrar</button></a></li>      
          </ul>
        </nav>
      </header>
 
     
     <!-- <div class="conteudo">
        <pre class="info-salao">O cabelo diz muito sobre a pessoa,
           e o que o seu diz sobre você?</pre>

        <pre class="info">Venha deixar os seus cabelos maravilhosos,
aqui o dia da pessoa amada 
                                 se tornará incrível! 
        </pre>
      </div>-->
      <div data-slide="slide" class="slide">
        <div class="slide-items">
          <img src="/imag/salao01.jpeg" alt="Img 1">
          <img src="/imag/salao02.jpg" alt="Img 2">
         
          <img src="/imag/salao10.jpg" alt="Img 4">
          <img src="/imag/salao08.jpg" alt="Img 4">
          <img src="/imag/salao07.jpg" alt="Img 4">
          <img src="/imag/salao06.png" alt="Img 4">
          <img src="/imag/salao05.jpg" alt="Img 4">
          <img src="/imag/salao04.jpg" alt="Img 4">
        </div>
        <nav class="slide-nav">
          <div class="slide-thumb"></div>
          <button class="slide-prev">Anterior</button>
          <button class="slide-next">Próximo</button>
        </nav>
      </div>
      <div data-slide="slide1" class="slide1">
        <div class="slide-items1">
          <img src="/imag/funsalao01.png" alt="Img 1">
          <img src="/imag/salaofun.jpg" alt="Img 2">
          <img src="/imag/funcccsalaoooooo.jpg" alt="Img 3">
          <img src="/imag/funsalao045.jpg" alt="Img 4">
        </div>
        <nav class="slide-nav1">
          <div class="slide-thumb1"></div>
          <button class="slide-prev1">Anterior</button>
          <button class="slide-next1">Próximo</button>
        </nav>
      </div>
      
        </div>
          </div>
      <div id="dv-modal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
              <button   onclick="closeModal('dv-modal')">X</button>
            </div>
            <div class="modal-body">
          <p class="crie-conta">Crie sua Conta</p>
           <div class="nome">
                <input  type="text" placeholder="Nome completo"required>            
            </div>
            <div class="celular">   
                    
                    <input class="telefone" type="tel" name="celular" placeholder="Seu Celular"required>
                </div>
               <div class="cpf">
                    
                    <input  type="CPF" placeholder="Seu CPF" required>
                </div>             
            
             <div class="email">
                <input  type="email"  placeholder="E-mail"  required>      
            </div>
           <div class="senha01"> 
                   
                    <input placeholder="Senha"   type="password" required>
           </div>
                <div class="senha02">
                    <input placeholder="Confirmar Senha"  type="password" required>            
            </div>

            <div class="btn-enviar">
              <a href="#"> <button>Enviar</button></a>
            </div>
          </div>

        </div>
      </div>
      
      <div id="dv-modal01" class="modal01">
        <div class="modal01-content">
            <div class="modal01-header">
              <button   onclick="closeModal01('dv-modal01')">X</button>
            </div>
            <div class="modal01-body">
          <p class="crie-conta">Login</p>
           <div class="nome01">
                <input  type="text" placeholder="E-mail ou Usuário"required>            
            </div>
         
           <div class="senha03"> 
                   
                    <input placeholder="Senha"   type="password" required>
           </div>
           <label id="label" for="esquecer"  ><a href="/recuperasenha.sa" >  Esqueci a senha</a></label>
                <div class="ou">       
               <p>ou</p>
               </div>
               <div class="rede-social">
                <ul>
                    <li><img src="/imag/icons8-instagram-64.png" ></li>
                    <li><img src="/imag/google-icon-4.png" ></li>
                 
                </ul>
            </div>

            <div class="btn-entrar1">
              <a href="/agenda.sa"> <button>Entrar</button></a>
            </div>
          </div>

         
      </div>
      <Script src="/JS/projectelainicial-sa.js"></Script>
      <Script src="/JS/carrossels-sa.js"></Script>
  
</body>
</html>