@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: #191c24;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  border: 1px solid black;
}
.sidebar.open{
  width: 240px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
 
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 4rem;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100vh;
}
.sidebar li{
  position: relative;
  margin: 0.5rem 0;
  list-style: none;
  
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size:1.5rem;
 
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  margin-left: 45px;
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 3px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
 background: #191c24;
}
.sidebar input::placeholder{
  color: white;
}
.sidebar.open input{
  padding: 0 4px 0 4px;
  width: 83%;
  background: #191c24;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  font-size: 1.5rem;
  background: #191c24;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #191c24;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #191c24;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #191c24;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: black;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #191c24;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 15px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #191c24;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
img {
  display: block;
  max-width: 100%;
  margin-bottom: 11rem;
}

li {
  list-style: none;
}

.profile {
  max-height: 650px;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
}

/*CONTEUDO*/

.visual{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  
 
  background-color: #191c24;
}

.title-visual{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5rem;
  margin-left: 21rem;
  color: white;
}
.descre01{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 8rem;
  margin-left: -10.5rem;
  color: white;
  font-size: 1.2rem;
}

.modo{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 13rem;
  margin-left: -33.5rem;
  color: white;
  font-size: 1.5rem;
}

.descre02{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15rem;
  margin-left: -6rem;
  color: white;
  font-size: 1.2rem;
}

.check{
  margin-top: 18rem;
  margin-left: -23rem;
}
.rad-label {
  display: flex;
  align-items: flex-end;
  border-radius:25rem;
  padding: 1rem ;
  cursor: pointer;
  transition: .3s;

}

.rad-label:hover,
.rad-label:focus-within {
  background: hsla(0, 0%, 80%, .14);
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.5vw;
  height: 1vh;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;

  background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
  position: relative;
}

.rad-design::before {
  content: '';

  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;

  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: .3s;
}

.rad-input:checked+.rad-design::before {
  transform: scale(0);
}

.rad-text {
  color: white;
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;

  transition: .3s;
}

.rad-input:checked~.rad-text {
  color: hsl(0, 0%, 40%);
}
