@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&family=Righteous&family=Roboto&family=Sarala:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {

    margin: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.background {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imag/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    
}
#logo{
    color: white;
}
#header {
    box-sizing: border-box;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6) );
    font-family: 'Open Sans';
    font-size: 1.5rem;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.4rem;
  }
  
  #menu a {
    font-family: 'Open Sans';
    display: block;
    padding: 0.8rem;
    color: white;
  }
  
  #btn-mobile {
    display: none;
  }

  .gb_Ba {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0px;
    position: relative;
    height: 35px;
    width: 35px;
    z-index: 0;
}

.servico {
    display: flex;
    padding: 50px;
    justify-content: center;
    margin-top: 120px;
    font-family: 'Montserrat', sans-serif;
}
.barba {
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.719);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0px 20px;
    padding: 20px 0px;

}

.cabelo {
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.719);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0px 20px;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}
.cabelo h1{
    margin-bottom: 3rem;
}
.cabelo, .barba h2,h3{
    margin-top: 0.5rem;
}

.barba h1{
    margin-bottom: 4rem;
}
 .barba h2,h3{
    margin-top: 2rem;
}

.sobrancelha h1{
    margin-bottom: 4rem;
}

.sobrancelha {
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.719);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    margin: 0px 20px;
    padding: 20px 0px;
}