@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

body{
    background: linear-gradient( rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imag/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
   
    
}
/*INICIO DO MENU*/
.header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6) );
    font-family: 'Open Sans';
    font-size: 1.3rem;
  }
 #logo{
     color: white;
     padding-left: 1rem;

 }
  .menu {
    display: flex;
   
    gap: 0.4rem;
  }
  
  .menu a {
    font-family: 'Open Sans';
    display: flex;
    align-items: center;
    padding: 0 1rem ;
  }

  #cadastro{
    background-color: transparent;
    margin-top: 0.4rem;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border: 2px solid  white;
    cursor: pointer;
    
    border-radius: 5px;
    color: white;
    font-size: 1rem;
  }
#cadastro:active{
    background-color: white;
    color: black;  
}

#entrar{
    margin-top: 0.5rem;
    background-color: #ED8C1A;
    color: black;
    padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    border: 2px solid none;
    cursor: pointer;
   
    border-radius: 10px;
   
    font-size: 1rem;
  }
 #entrar:hover{
    background-color: rgba(0,0,0,.4);
    color: #ED8C1A;
 
    
}
#entrar:active{
    background-color: rgba(0,0,0,.6);
    color: #ED8C1A; 
   
}
/*CARROSSEL*/

/*MODAL CADASTRO*/
.modal{
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;

}

.modal-content{
    margin: 0 auto;
    margin-top: 7%;
    width: 30vw ;
    height: 82vh;
  
    padding: 0;
    box-shadow: 0 0 2px black ;
   
}

.modal-header, .modal-body {
    padding: 10px;
}

.modal-header {
   
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    height: 12vh;
    
}

.modal-body{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    height: 70vh;
}
 .modal-body p{
     
    position: absolute;
    color: white;
    font-weight: none;
    font-size: 2rem;
}

.nome{
    
    position:absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 0vh;
   margin-top: 3rem;
    padding: 2.6rem 2rem;
    z-index: 2;
}
.nome input{
    width: 30vw;
    height: 5vh;
    border-radius: 25rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    text-align: center;
    font-size: 1rem
}
.nome  input::placeholder{
    color: white;
    text-align: center;
    font-size: 1rem;
  }
  .celular{
    
      position: absolute;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 25vw;
      height: 0vh;
      margin-top: 8.5rem;
      float: left;
  }

  .celular input{
      width: 12.4vw;
      height: 5vh;
      text-align: center;
      background-color: transparent;
    border: 1px solid white;
    color: white;
      outline: none;
      border-radius: 25rem;
      font-size: 1rem;
  }
  .celular input::placeholder{
      color: white;
  }
.cpf{
   
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8.5rem;
    width: 25.6vw;
    height: 0vh;
    z-index: 1;
    float: right;
}

.cpf input{
    width: 12.4vw;
    height: 5vh;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 25rem;

}
.cpf input::placeholder{
    color: white;
}

.email{
   
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 30vw;
    height: 0vh;
    margin-top: 9.9rem;
    padding: 2.6rem 2rem;
    font-size: 1rem;
    
}
.email input{
    width: 30vw;
    height: 5vh;
    padding: 0 2.5rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 25rem;
    
}
.email input::placeholder{
    color: white;
    padding: 0 -3rem;
}

.senha01{
   
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 14.5rem;
    float: left;
    width: 25.2vw;
    height: 0vh;
    
}
.senha01 input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 12.4vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    
    outline: none;
    border-radius: 25rem;
}
.senha01 input::placeholder{
    color: white;
 
}
.senha02{
    
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 14.5rem;
    float: right;
   width: 25VW;
   height: 0vh;
   z-index: 1;
}
.senha02 input{
    width: 12.4vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    border-radius: 25rem;
}
.senha02 input::placeholder{
    color: white;
}
.modal-header button{  
    font-size: 1rem;
    background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    float: right;
}
.btn-enviar{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: -12rem;
     
    height: 64vh;
    
}
.btn-enviar a button{
    background-color: #ED8C1A;
    padding: 0.5rem 4rem 0.5rem 4rem;
    border: 1px solid  transparent;
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 25rem;
    
}
.btn-enviar button:hover{
    background-color: black;
    color: #ED8C1A;
    font-weight: bold;
    
}

.btn-enviar button:active{
    background-color: white;
    color: #ED8C1A;  
}

/*MODAL LOGIN*/
.modal01{
    background-color: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    box-shadow: 0 0 2px transparent ;
}

.modal01-content{
    margin: 0 auto;
    margin-top: 7%;
    width: 30vw ;
    height: 82vh;
   
    padding: 0;
   
   border: 2px solid transparent;
}

.modal01-header, .modal01-body {
    padding: 10px;
}

.modal01-header {
   
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, .6));
    height: 12vh;
    
}

.modal01-header button{
   
    font-size: 1rem;
    background: transparent;
    color: white;
    border: none;
    font-weight: bold;
    float: right;
    
}
.modal01-body{
   
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    height: 70vh;
}
 .modal01-body p{
   
    position: absolute;
    color: white;
    font-weight: none;
    font-size: 2rem;
}

.nome01{
  
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5rem;
    float: left;
}
.nome01 input{
    width: 22vw;
    height: 5vh;
    border-radius: 25rem;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.nome01  input::placeholder{
    color: white;
    text-align: center;
    font-size: 1rem;
  }

.senha03{
    
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 8rem;
    float: left;
    
}
.senha03 input{
    width: 22vw;
    height: 5vh;
    font-size: 1rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 25rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}
.senha03 input::placeholder{
    color: white;

}

#label a{
  
    position: absolute;
    color: #ED8C1A;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 20vw;
    margin-top: 10rem;
    font-size: 1rem;
    margin-left: -9rem;
    
}

.ou {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15rem;
    font-size: 1rem;
    margin-left: 0.5rem;
    color: white;
    
}


.rede-social ul{
    
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    width:10vw;
    margin-top: 17rem;
    list-style: none;
    padding: 0 1.0rem;
    margin-left: -11.5rem;
}
.rede-social img{

    width: 4vw;
    height: 5vh;
}

.rede-social ul li{
    padding: 0 3.5rem 0 3.5rem;

}
.btn-entrar{
  position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-right: -11rem;
       
      height: 64vh;
    
}
.btn-entrar a button{
  background-color: #ED8C1A;
      padding: 0.5rem 4rem 0.5rem 4rem;
      border: 1px solid  transparent;
      cursor: pointer;
      transition: background .3s;
      border-radius: 5px;
      color: black;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 25rem;
    
}
.btn-entrar button:hover{
    background-color: black;
    color: #ED8C1A;
    font-weight: bold;
    
}

.btn-entrar button:active{
    background-color: white;
    color: #ED8C1A;  
}



.box-filme{
    
    height: 89vh;
    width: 60vw;
    display: block;
}
.nomeum pre{
  color: white;
  font-size: 2.3rem;
  margin: 3rem 0 -8.6rem 2rem;
  font-family: 'Righteous', cursive;
}
.nomedois pre{
  color: white;
  font-size: 2.3rem;
  margin: 28rem 0 -8.6rem 50rem;
  font-family: 'Righteous', cursive;
}
/*CARROSSEL*/
img {
    width: 50vw;
    height: 68.3vh;
    display: block;
  }
  /*slide01  */
  .slide {
    position: absolute;
    width: 49.9vw;
   margin-top: -0.1rem;
   margin-left: 42.7rem;
    height: 58.3vh;
    display: grid;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
  
  .slide-items {
    position: relative;
    grid-area: 1/1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .slide-nav {
    grid-area: 1/1;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .slide-nav button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  
  .slide-items > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
  }
  
  .slide-items > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
  }
  
  .slide-thumb {
    display: flex;
    grid-column: 1 / 3;
  }
  
  .slide-thumb > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
    visibility: hidden;
  }
  
  .slide-thumb > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
  }
  
  @keyframes thumb {
    to {
      transform: initial;
    }
  }
  
  /*slide02  */
  
  .slide1 {
    position: absolute;
    width: 49.8vw;
   margin-top: 11.8rem;
   margin-left: 0.1rem;
    height: 58.3vh;
    display: grid;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  }
  
  .slide-items1 {
    position: relative;
    grid-area: 1/1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .slide-nav1 {
    grid-area: 1/1;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
  
  .slide-nav1 button {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
  
  .slide-items1 > * {
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
  }
  
  .slide-items1 > .active {
    position: relative;
    opacity: 1;
    pointer-events: initial;
  }
  
  .slide-thumb1 {
    display: flex;
    grid-column: 1 / 3;
  }
  
  .slide-thumb1 > span {
    flex: 1;
    display: block;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    margin: 5px;
    border-radius: 3px;
    overflow: hidden;
    visibility: hidden;
  }
  
  .slide-thumb1 > span.active::after {
    content: '';
    display: block;
    height: inherit;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    transform: translateX(-100%);
    animation: thumb 5s forwards linear;
    visibility: hidden;
  }
  
  @keyframes thumb {
    to {
      transform: initial;
    }
  }

