@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&family=Righteous&family=Roboto&family=Sarala:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');


#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6) );
    font-family: 'Open Sans';

    margin-top: -10rem;
    margin-bottom: 4rem;
  }
  #logo{
    color: white;
    padding:0.1rem 1.5rem 0 0;
    font-size: 2rem;
}
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.4rem;
  }
  
  #menu a {
    font-family: 'Open Sans';
    display: block;
    padding: 1rem 1.5rem 0 0;
    color: white;
    font-size: 2rem;
  }
  
  #btn-mobile {
    display: none;
  }

  .gb_Ba {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin-top: -0.2rem;
    position: relative;
    height: 35px;
    width: 35px;
    z-index: 0;
    
}

.demo
{
	padding: 10rem 0;
    background: linear-gradient( rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../imag/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.bx.bxs-share
{
    position: absolute;
    margin-top: -4.9rem;
    margin-left: -16rem;
    font-size: 3rem;
    color: white;
}.pricingTable{
    background: linear-gradient( rgba(0,0, 0, 0.6), rgba(0, 0, 0, 0.6));
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #ED8C1A;
    border-left: 2px solid #ED8C1A;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #ED8C1A;
    border-top: 2px solid #ED8C1A;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    background: #ED8C1A;
    color: #fff;
    margin: -2rem -0.3rem 1rem;
    padding: 1rem 0;
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.pricingTable .currency{
    font-size: 25px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -30px;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: white;
    line-height: 40px;
}

.pricingTable .read{
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: #7a7e82;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover{
    border-color: #ED8C1A;
    color: #ED8C1A;
}

.pricingTable .read i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i{
    right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after{
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .read:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after{
    border-left-color: #ED8C1A;
}

#bus{
    margin-bottom: 7rem;
}
.feedback{
    margin-bottom: 11rem;
}

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}