<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Atendimento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 >
    <link rel="stylesheet" href="/Styles/CSS-ADM/lista.css" />
  </head>
  <body>      
       
        <section>
          <div class="box">
            <div class="volta">
              <a href="/adm"> <i class='bx bx-chevron-left-circle'></i></a>
             </div>
           <h3>Lista de Atendimento</h3>
           <div class="list">
               <div class="imgBx">
                   <img src="../../public/imag/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>1</h2>
                   <h4>Ricardo Flanagan</h4>
                   <p>13 h</p>
               </div>
           </div>
           <div class="list">
               <div class="imgBx">
                   <img src="img/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>2</h2>
                   <h4>Ricardo Flanagan</h4>
                   <p>14:30 hs</p>
               </div>
           </div>
           <div class="list">
               <div class="imgBx">
                   <img src="img/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>3</h2>
                   <h4>Ricardo Flanagan</h4>
                   <p>15:45 hs</p>
               </div>
           </div>
           <div class="list">
               <div class="imgBx">
                   <img src="img/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>4</h2>
                   <h4>Erik Dardone</h4>
                   <p>16:20 hs</p>
               </div>
           </div>
           <div class="list">
               <div class="imgBx">
                   <img src="img/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>5</h2>
                   <h4>Felipe Dias</h4>
                   <p>13:30 hs</p>
               </div>
           </div>
           <div class="list">
               <div class="imgBx">
                   <img src="img/86560.jpg" alt="">
               </div>
               <div class="content">
                   <h2 class="rank"><small>#</small>6</h2>
                   <h4>Daniel Cavalcante</h4>
                   <p>17:00 hs</p>
               </div>
           </div>
          </div>
       </section>

    <script
      src="https://kit.fontawesome.com/f9e19193d6.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/lista.js"></script>
  </body>
</html>